@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap');

.App {
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.App label {
  color: #003973;
  font-family: 'Inter';
}
